<div class="panel panel-default">
<div class="panel-heading"><strong>Album: <%= @album.title%> by: <%= (@artist.name).split.map(&:capitalize).join(' ')%></strong></div>
<div class="panel-body">
<div class="authform">
<div class="panel panel-default">
 <div class="panel-heading"><strong>Add Track</strong></div>
    <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
</div>
</div>
</div>
</div>
<%= link_to 'Cancel', :back %>
