<div class="panel panel-default">
 <div class="panel-heading"><strong>Artists</strong></div>
<div class="panel-body">
<% @artists.each do |artist| %>
<ul class="list-group">
  <li class="list-group-item">
    <% if user_signed_in? %>
    <span class="badge"><%= link_to 'Remove Artist', artist, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <span class="badge"><%= link_to 'Update Artist', edit_artist_path(artist) %></span>
    <% end %>
    <%= link_to (artist.name).split.map(&:capitalize).join(' '), artist %>
  </li>
</ul>
<% end %>
<br>
<% if user_signed_in? %>
<span class="badge pull-right"><%= link_to 'Add Artist', new_artist_path %></span>
<% end %>