<div class="authform">
<div class="panel panel-default">
 <div class="panel-heading"><strong>Add new artist</strong></div>
    <div class="panel-body">
     <%= render 'form' %>
    </div>
 </div>
</div>
</div>
<%= link_to 'Cancel', :back %>
