<div class="panel panel-default">
 <div class="panel-heading"><strong>Albums</strong></div>
<div class="panel-body">
<% @albums.each do |album| %>
<ul class="list-group">
  <li class="list-group-item">
    <%= link_to (album.title).split.map(&:capitalize).join(' '), artist_album_path(album.artist_id,album.id) %>
    <% if !album.cover.present? %>
      <span class="image_con pull-right"><%= image_tag("/images/default.jpeg",:border => 0) %></span>
    <% else %>
      <span class="image_con pull-right"><%= image_tag(album.cover)%></span>
    <% end %>
  </li>
</ul>
<% end %>
<br>
